@charset "UTF-8";
section{
	text-align: center;
}
/*중개사가입 타이틀*/
div#estate-enroll-headTitle{
	width: 900px;
    height: 80px;
    margin: 25px auto 0 auto;
    padding-left: 16px;
    text-align: left;
    border-left: 3px solid #ff9600;
}
div#estate-enroll-headTitle p{
	margin: 0;
}
div#estate-enroll-headTitle p:nth-child(1){
	font-size: 18px;
	color: #ff9600;
	font-weight: bold;
}
div#estate-enroll-headTitle p:nth-child(2){
	font-size: 15px;
	font-weight: bold;
}
div#estate-enroll-headTitle p:nth-child(3){
	font-size: 15px;
}

/*중개사 바디*/
div#estate-enroll-container{
	width: 900px;
    height: 600px;
    padding: 50px;
    margin: 25px auto 0 auto;
    background: lightgray;
}
div#estate-enroll-body{
	font-size: 20px;
	width: 100%;
	text-align: left;
}
div#estate-enroll-body div{
	width: 100%;
	margin-bottom: 65px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(150, 150, 150, 0.5);
}div#estate-enroll-body input{
	width: 450px;
}
input#estate-agent-agree{
	width: 20px !important;
	height: 20px;
}

/*중개사 바텀*/
div#estate-enroll-bottom p:nth-child(1){
	color: #ffa409;
	font-size: 20px;
	font-weight: bold;
	margin: 0;
}
div#estate-enroll-bottom button{
	width: 350px;
    height: 50px;
    color: white;
    font-weight: bold;
}
div#estate-enroll-bottom{
	margin: 35px auto;
}

/*광고문의*/
div#advertised-container{
	width: 700px;
	height: 800px;
	margin: 50px auto;
	background: lightgray;
	padding: 50px;
	text-align: left;
}
div#advertised-title{
	padding-left: 16px;
	border-left: 3px solid gray;
}
div#advertised-title p:nth-child(1){
	font-size: 22px;
	font-weight: bold;
	margin: 0;
}
p#advertised-c1, p#advertised-c2{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}
div#advertised-choice{
	width: 600px;
	height: 250px;
	margin-bottom: 40px;
	overflow: scroll;
	background: whitesmoke;
}
input[type=radio]{
	width: 15px;
    height: 15px;
    margin-bottom: 20px;
}
#advertised-req-btn{
	width: 170px;
    height: 48px;
    position: relative;
    float: right;
    top: 100px;
}